/* Main Grid */
table,
tr,
td {
    border: 1px solid;
    border-collapse: collapse;
    user-drag: none;
    user-select: none;
}

.container {
    padding: var(--box-side-length);
}

/* Grid cell not filled */
.gridOff {
    width: var(--box-side-length);
    height: var(--box-side-length);
    background-color: var(--fg);
}

.fadeOut {
    animation-name: pop-swirl;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

/* Grid cell filled */
.gridOn {
    width: var(--box-side-length);
    height: var(--box-side-length);
    background-color: var(--pink);
}

.fadeIn {
    animation-name: bounceIn;
    animation-duration: 0.5s;
}

/*From some website I forgot*/
@keyframes pop-swirl {
    from {
        background-color: var(--fg);
    }
    0% {
        transform: scale(0) rotate(360deg);
    }
    60% {
        transform: scale(0.8) rotate(-10deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
    to {
        background-color: var(--bg);
    }
}
