header {
    height: 2em;
}

/* clear button */
.btn {
    background-color: var(--accent1);
    border: 2px solid var(--fg);
    color: var(--bg);
    font-size: 12px;
    opacity: 0.9;
    height: 20px;
    width: 60px;
    border-radius: 14px;
    margin: 0 1rem;
    padding: 0 0 2px 0;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.85;
}

/* slider checkbox 
 * edited from https://codepen.io/AllThingsSmitty/pen/EbJNXY
 */
.slider {
    border: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
}

.slider-checkbox {
    display: none;
}

.slider-label {
    border: 2px solid var(--fg);
    border-radius: 20px;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.slider-inner {
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
}

.slider-inner:before,
.slider-inner:after {
    box-sizing: border-box;
    display: block;
    float: left;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0;
    width: 50%;
}

.slider-inner:before {
    background-color: var(--bg);
    color: var(--accent1);
    content: "Erase";
    padding-right: 2em;
}

.slider-inner:after {
    background-color: var(--accent1);
    color: var(--bg);
    content: "Draw";
    padding-right: 0.75em;
    text-align: right;
}

.slider-circle {
    background-color: var(--bg);
    border-radius: 20px;
    bottom: 0;
    display: block;
    margin: 5px;
    position: absolute;
    right: 60px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 10px;
}

.slider-checkbox:checked + .slider-label .slider-inner {
    margin-left: 0;
}

.slider-checkbox:checked + .slider-label .slider-circle {
    background-color: var(--accent1);
    right: 0;
}

/* For the header at the top */
#header {
    background-color: var(--bg);
    color: var(--fg);
    /* height: 80px; */
    padding: var(--box-side-length);
    font-family: "Fira Code";
    font-weight: 500;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}

#header div:first-child {
    margin-right: auto;
}

.colorButton {
    height: 20px;
    border: 1px solid (--fg);
    border-radius: 14px;
    margin: 1rem 0 1rem 1rem;
    display: block;
}

#colorPicker {
    position: relative;
    top: 4rem;
    margin: 1rem 1rem 1rem 1rem;
}
