@import "./headerFiles/button.css";
@import "./headerFiles/slider.css";
@import "./headerFiles/colorPicker.css";

/* For the header at the top */
header {
    background-color: var(--bg);
    color: var(--fg);
    /* height: 80px; */
    padding: var(--box-side-length);
    font-family: "Fira Code";
    font-weight: 500;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
}
