:root {
    /* colors from: 
     * https://material-theme.com/docs/reference/color-palette/#other-themes 
     * github light theme
     */

    --bg-light: #f7f8fa;
    --fg-light: #5b6168;
    --text-light: #292d31;
    --green-light: #22863a;
    --yellow-light: rgb(228, 198, 99);
    --blue-light: #005cc5;
    --red-light: #d73a49;
    --purple-light: #6f42c1;
    --orange-light: #e36209;
    --cyan-light: #032f62;
    --gray-light: #6a737d;

    --box-side-length: 22px;
}

* {
    font-family: "Fira Code";
}

/* Normal Stuff  */
html,
body {
    background-color: var(--bg-light);
    color: var(--text-light);
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
}

/* For the header at the top */
header {
    background-color: var(--text-light);
    color: var(--bg-light);
    /* height: 80px; */
    padding: var(--box-side-length);
    font-family: "Fira Code";
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
    user-select: none;
}
