@import "headerFiles/button.css";
@import "headerFiles/slider.css";
@import "headerFiles/dropDown.css";

/* For the header at the top */
header {
    background-color: var(--text);
    color: var(--bg);
    /* height: 80px; */
    padding: var(--box-side-length);
    font-family: "Fira Code";
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
}
