.dropDown {
    background-color: var(--cyan);
    color: var(--bg);
    font-size: 12px;
    height: 20px;
    margin: 10px;
    border: 2px solid var(--gray);
    border-radius: 14px;
    cursor: pointer;
}

.redEntry {
    background-color: var(--red);
    border-color: var(--red);
    cursor: pointer;
}

.orangeEntry {
    background-color: var(--orange);
    border-color: var(--orange);
    cursor: pointer;
}

.yellowEntry {
    background-color: var(--yellow);
    border-color: var(--yellow);
    cursor: pointer;
}

.greenEntry {
    background-color: var(--green);
    border-color: var(--green);
    cursor: pointer;
}

.cyanEntry {
    background-color: var(--cyan);
    border-color: var(--cyan);
    cursor: pointer;
}

.blueEntry {
    background-color: var(--blue);
    border-color: var(--blue);
    cursor: pointer;
}

.purpleEntry {
    background-color: var(--purple);
    border-color: var(--purple);
    cursor: pointer;
}

.grayEntry {
    background-color: var(--gray);
    border-color: var(--gray);
    cursor: pointer;
}
